#tooltip {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
  }
  .tooltip-label {
    font-weight: 500;
    font-size: 10px;
    color: #888;
  }

  #tooltip5 {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
  }
  .tooltip-label {
    font-weight: 500;
    font-size: 10px;
    color: #888;
  }

  .body {
    background-image: url('images/bg.jpeg');
    /* background-repeat: no-repeat; */
    /* opacity: 0.4; */
}


.grid-container {
  /* border:5px solid red; */
  padding: 1rem; 
  width: 800px;
  float: left;
}


.grid-container-2{
  /* border:5px solid yellow; */
  padding: 1rem; 
  width: 800px;
  float: right;
}

.grid-container-3{
  /* border:5px solid green; */
  padding: 1rem; 
  width: 800px;
  height: 800px;
  float: left;
}

 #drop1{
  /* border: 5px solid green; */
  padding: 1rem;
  border-image: url(../images/bashir.jpeg) 110 round;
  height: auto;
  width: auto;
}

#wordStuff{
  /* border: 5px solid green; */
  padding: 1rem;
  border-image: url(../images/bashir.jpeg) 110 round;
  height: auto;
  width: auto;
}

/* div {
  height: 800px;
  width: 50%;
  background-color: powderblue;
} */